body{
  background-color: #EEEDE8;
}
.homeans1{
  width: 100px;
  position: relative;
  z-index: 10;
  left: -650px;
  top: -105px;
}
.container_ans1 {
  font-family: Arial, sans-serif;
  margin: 55px;
  max-width: 900px;
  background-color: #EEEDE8;
  padding: 20px;
  position: relative;
  border-radius: 20px;
  
}
.container11_ans1 {
  font-family: Arial, sans-serif;
  border-radius: 40px;
  max-width: 900px;
  background-color: #F2D2CF;
  padding: 20px;
  position: relative;
  top: -60px;
}
.container2_ans1 {
  border-radius: 40px;
  font-family: Arial, sans-serif;
  max-width: 900px;
  height: 1100px;
  background-color: #D1C7D1;
  position: relative;
  top: -40px;

}
.rectangle1_ans1 {
  background-color: #E5CDDD;
  width: 740px;
  height: 70px;
  position: absolute;
  top: -120px;
  right: 450px;

}

.rectangle2_ans1 {
  background-color: #C1CCBF;
  width: 740px;
  height: 70px;
  position: relative;
  top: -140px;
  left: 420px;
}

.header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.image-wrapper {
  flex: 1;
  display: flex;
  justify-content: center;
}

.image {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  position: relative;
  left: 50px;
  top: -10px;
}

.description1_ans1 {
  flex: 2;
  padding: 0 20px;
  position: relative;
}

.description1_ans1 h1 {
  font-size: 20px;
  color: #000000;
  top: -60px;
  position: relative;
  
}

.description1_ans1 h2 {
  width: 150px;
  font-size: 28px;
  color: #000000;
  top: -50px;
  text-align: left;
  position: relative;
  left: 110px;
}

.IGMAns1{
  width: 160px;
  position: absolute;
  top: -40px;
  left: 320px;
}

.line_ans1{
  width: 400px; /* ความกว้างของเส้น สามารถปรับได้ */
  height: 1px; /* ความสูงของเส้น */
  background-color: #555; /* สีของเส้น */
  margin-top: 20px; /* ระยะห่างด้านบน */
  margin-bottom: 20px;
  left: 90px; 
  top: -60px;
  position: relative;
}
.description1_ans1 p {
  width: 400px;
  font-size: 16px;
  color: #000000;
  line-height: 1.5;
  top: -60px;
  position: relative;
  left: 90px;
  text-align: left;
}

.line_ans1_1{
  width: 1100px; /* ความกว้างของเส้น สามารถปรับได้ */
  height: 1px; /* ความสูงของเส้น */
  background-color: #555; /* สีของเส้น */
  margin-top: 20px; /* ระยะห่างด้านบน */
  margin-bottom: 20px;
  left: -100px; 
  top: -40px;
  position: relative;

}

.section_ANS1 {
  margin-bottom: -50px;
  position: relative;
}

.section_ANS1  h2 {
  border-radius: 60px;
  left: 30px;
  margin-top: 50px;
  width: 170px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  background-color: #FFFACD;
  font-size: 16px;
  color: #000000;
  margin-bottom: 0px;
  position: relative;
  top: 30px;
}

.imageANS-row {
  margin-top: 50px;
  display: flex;
  gap: 10px;
  margin-bottom: 30px;
}

.imageANS-row .imageANS {
  max-width: 300px;
  border-radius: 10px;
  margin-left: 70px;
  margin-top: 10px;
}

.section_ANS1  p {
  position: relative;
  width: 700px;
  font-size: 16px;
  color: #000000;
  line-height: 1.5;
  left: 130px;
  text-align: left;
  top: -20px;
}
