body{
  background-color: #EEEDE8;
}
.hmans4{
  width: 100px;
  position: relative;
  z-index: 10;
  left: -650px;
  top: -105px;
}
.contain-ans4 {
  font-family: Arial, sans-serif;
  margin: 55px;
  max-width: 900px;
  background-color: #EEEDE8;
  padding: 20px;
  position: relative;
  border-radius: 20px;
  
}
.contain44-ans4 {
  font-family: Arial, sans-serif;
  border-radius: 40px;
  max-width: 900px;
  height: 500px;
  background-color: #F2D2CF;
  padding: 20px;
  position: relative;
  top: -60px;
}
.contain4-ans4 {
  border-radius: 40px;
  font-family: Arial, sans-serif;
  max-width: 900px;
  height: 1100px;
  background-color: #D1C7D1;
  position: relative;
  top: -40px;

}
.rectang-ans14 {
  background-color: #E5CDDD;
  width: 740px;
  height: 70px;
  position: absolute;
  top: -120px;
  right: 450px;

}

.rectang-ans24 {
  background-color: #C1CCBF;
  width: 740px;
  height: 70px;
  position: relative;
  top: -140px;
  left: 420px;
}

.head-erans {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.wrap-ans4 {
  flex: 1;
  display: flex;
  justify-content: center;
}

.Icn4 {
  max-width: 35%;
  height: auto;
  border-radius: 10px;
  position: relative;
  left: 550px;
  top: -50px;
}

.descrip-answer4 {
  flex: 2;
  padding: 0 20px;
  position: relative;
}

.descrip-answer4 h1 {
  font-size: 20px;
  color: #000000;
  position: relative;
  
  
}

.descrip-answer4 h2 {
  width: 180px;
  font-size: 28px;
  color: #000000;
  top: 10px;
  text-align: left;
  position: relative;
  left: 100px;
}

.IM44{
  width: 300px;
  position: absolute;
  top: -40px;
  left: -230px;
}

.lin-4 {
  width: 400px; /* ความกว้างของเส้น สามารถปรับได้ */
  height: 1px; /* ความสูงของเส้น */
  background-color: #555; /* สีของเส้น */
  margin-top: 20px; /* ระยะห่างด้านบน */
  margin-bottom: 20px;
  left: 90px; 
  position: relative;
}
.descrip-answer4 p {
  width: 400px;
  font-size: 16px;
  color: #000000;
  line-height: 1.5;
  position: relative;
  left: 90px;
  text-align: left;
}

.lin-4_4{
  width: 1100px; /* ความกว้างของเส้น สามารถปรับได้ */
  height: 1px; /* ความสูงของเส้น */
  background-color: #555; /* สีของเส้น */
  margin-top: 20px; /* ระยะห่างด้านบน */
  margin-bottom: 20px;
  left: -100px; 
  top: -40px;
  position: relative;

}

.sect-ans4 {
  margin-bottom: -50px;
  position: relative;
}

.sect-ans4  h2 {
  border-radius: 60px;
  left: 30px;
  margin-top: 20px;
  width: 170px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  background-color: #FFFACD;
  font-size: 16px;
  color: #000000;
  margin-bottom: 10px;
  position: relative;
  top: 40px;
}

.img-answer4rw {
  margin-top: 50px;
  display: flex;
  gap: 10px;
  margin-bottom: 30px;
}

.img-answer4rw .ig-ans {
  top: -0px; /* Adjust to center the image vertically */
  left: 120px;/* Adjust to center the image horizontally */
  width: 300px; /* Adjust the width to ensure the image covers the crop area */
  height: 380px;
  border-radius: 10px;
  margin-top: 10px;
  position: relative;
  margin: 10px;
}

.sect-ans4   p {
  position: relative;
  width: 700px;
  font-size: 16px;
  color: #000000;
  line-height: 1.5;
  left: 130px;
  text-align: left;
  top: -20px;
}
  