

body {
    background-color: #EEEDE8;
    font-family: 'Inter', sans-serif;
}

.rectangle1 {
    background-color: #E5CDDD;
    width: 740px;
    height: 70px;
    position: relative;
    top: -330px;
    left: -370px;
}

.rectangle2 {
    background-color: #C1CCBF;
    width: 740px;
    height: 70px;
    position: relative;
    top: -400px;
    left: 365px;
}

.container {
    background-color: #B2D3DB;
    width: 1100px;
    height: 650px;
    position: absolute;
    top: 90px;
    right: 185px;
    border-radius: 30px;
    font-family: 'Inter', sans-serif;
}

._1Ask {
    width: 150px;
    background-color: #575785;
    color: white;
    margin-top: -110px;
    font-size: 20px;
    left: 450px;
    display: block;
    font-weight: bold;
    position: relative;
}

._1Asks {
    font-size: 18px;
    margin-bottom: 0px;
    position: relative;
    top: 80px;
    left: -220px;
    font-weight: bold;
}

.line {
    width: 1100px;
    border-top: 1px solid #000;
    margin: 40px 0;
    margin-top: 80px;
}

.Button1_Ans1 {
  width: 300px;
  border-radius: 80px;
  background-color: #DDD4A7;
  color: rgb(0, 0, 0);
  font: 20px sans-serif;
  margin: 80px 30px;
  position: relative;
  display: block;
  top: -175px;
  left: 100px;
}

.Button1_Ans3 {
  width: 300px;
  font: 20px sans-serif;
  border-radius: 80px;
  background-color: #DDD4A7;
  color: rgb(0, 0, 0);
  position: relative;
  display: block;
  top: -310px;
  left: 610px;
}
  
.Button1_Ans2 {
    width: 300px;
    font: 20px sans-serif;
    border-radius: 80px;
    background-color: #DDD4A7;
    color: rgb(0, 0, 0);
    position: relative;
    display: block;
    top: -170px;
    left: 130px;
  }
  .Button1_Ans4 {
    width: 300px;
    font: 20px sans-serif;
    border-radius: 80px;
    background-color: #DDD4A7;
    color: rgb(0, 0, 0);
    position: relative;
    display: block;
    top: -220px;
    left: 610px;
  }

.Number1 {
    background-color: #CEC3DB;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-size: 20px;
    font-weight: bold;
    top: 75px;
    right: -80px;
}

.Number3 {
    background-color: #CEC3DB;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-size: 20px;
    font-weight: bold;
    top: 35px;
    right: -560px;
}
.Number2 {
    background-color: #CEC3DB;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-size: 20px;
    font-weight: bold;
    top: 190px;
    right: -80px;
}
.Number4 {
    background-color: #CEC3DB;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-size: 20px;
    font-weight: bold;
    top: 150px;
    right: -560px;
}
.i1_mage{
    width: 250px;
    position:absolute;
    top: 10px;
    left: -130px;
    transform: rotate(-30deg);
  }

  